* {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  background-size: auto;
  background: url(assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}
